<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chefskiss2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/st_small_507x507_pad_600x600_f8f8f8"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChefsKiss">
        <activity
            android:name=".ViewIndividualMeal"
            android:exported="true" />
        <activity
            android:name=".SelectRecipe"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".LoginAccount"
            android:exported="true" />
        <activity
            android:name=".AccountInfoPage"
            android:exported="true" />
        <activity
            android:name=".IndividualRecipePage"
            android:exported="false" />
        <activity
            android:name=".Homepage"
            android:exported="true" />
        <activity
            android:name=".SavedRecipes"
            android:exported="true" />
        <activity
            android:name=".CreateAccount"
            android:exported="true" />
        <activity android:name=".CreateRecipe" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>